/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* My Styles */

html {
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100vw;
  background-color: #2f4f4f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  align-self: center;
}

.logout-section {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #fff;
  align-self: center;
}

nav {
  flex: 0 0 auto;
  z-index: 1;
  min-width: 18vw;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 1px solid lightgray;
}

.user-details {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user-name-role {
  align-self: center;
}

.user-role {
  font-weight: 700;
}

.nav-group-title {
  font-size: 0.8rem;
  color: #2f4f4f;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.nav-item {
  display: flex;
}

.nav-item:hover {
  cursor: pointer;
  color: #1976D2;
}

.nav-link {
  color: inherit;
  margin-left: 0.5rem;
  align-self: center;
}

.dashboard-section, .books-section {
  flex: 1 1 auto;
  min-height: 100vh;
}

.dashboard-cards-section {
  background-color: rgba(246, 247, 248, 0.5);
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal;
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
}

.dashboard-card-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #2f4f4f;
}

.dashboard-card-metric {
  font-weight: 700;
  font-size: 1.5rem;
}

.dashboard-card-link {
  transition: all ease-out 0.3s;
}

.dashboard-card-link:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.login-page {
  height: 100vh;
  background: #2f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.login-form-title {
  text-align: center;
  line-height: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.login-form-container form button {
  border-radius: 1em;
}

.books-table-section {
  background-color: rgba(246, 247, 248, 0.5);
  height: 100vh;
  padding: 2rem;
}
